/* Start - Global setup */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding: 4rem 2rem;
  background-color: #eeee;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #fff;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #fff;
}

h2 {
  color: #fff;

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

img {
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  object-position: center;
}
/* End - Global setup */

.Landing {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  background-image: url('https://i.pinimg.com/1200x/cb/01/f9/cb01f975c3ae6c6e7c7bab842d33a80d.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: relative;

  .wrapper-tamu {
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
      font-weight: 100;
    }
  }

  .open-invit {
    margin-top: 1rem;
    a {
      color: #fff;
    }
  }

  @media (max-width: 768px) {
    justify-content: space-around;
  }
}

.Landing::before {
  position: absolute;
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* BACK TO TOP */

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #dc143c;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.back-to-top span {
  color: #fff;
  font-size: 3rem;
  transition: 0.2s ease-out;
}

.back-to-top:hover {
  background-color: #be1a3b;
}
.back-to-top:hover span {
  transform: translateY(-4px);
}
